html {
  -ms-overflow-style: none;
  word-break: keep-all;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0;
}

.html {
  overflow-x: hidden;
}

.body {
  overflow: hidden;
  position: relative;
}

.body > .sliding {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.center-ver-hor {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.fit-back {
  background-repeat: no-repeat;
  background-size: cover;
}

#mastwrap {
  margin-left: 0;
}

body.pace-running {
  background: #fff url('../custom/load.png') center center no-repeat !important;
  /*background: #fff url('../custom/heartrate.gif') center center no-repeat !important;*/
}

/*
 * okvideo
 */
#home-carousel-wrap {
  z-index: 0;
}

#home-carousel-wrap #okplayer {
  padding-bottom: 0;
}

#home-carousel .home-slide {
  background: transparent;
  background-size: contain !important;
}

#home-carousel .videoCover {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
}

#home-carousel .home-slide .scrolldown {
  position: fixed;
  margin-left: 50%;
  bottom: 10px;
  font-size: 40px;
  transform: translateX(-50%);
  cursor: pointer;
}

#okplayer,
.film-intro {
  padding-bottom: 70px;
}

/*
 * owl.carousel
 */
.owl-theme .owl-controls {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  background: none;
  color: #ffffff;
  font-size: 80px;
  margin: -57px 0;
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  top: 50%;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 10px;
  z-index: 10;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 10px;
  top: 50%;
}

/*
 * footer
 */
.invisible {
  display: none;
}

.article-detail article p {
  font-size: 14px;
}

.article-detail article img {
  max-width: 100%;
}

/*
 * navbar
 */
#sm-trigger {
  height: 60px !important;
  background: transparent;
  font-size: 20px;
  box-shadow: none;
  line-height: 60px;
}

#vertical-logo {
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
}

#logo > img {
  display: initial !important;
}

/*
 * film
 */
.film-num {
  position: relative;
  height: 70px;
  border-right: 1px solid rgba(0, 0, 0, 0.05)
}

.film-num span {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  color: rgba(0, 0, 0, 0.2);
}

#home-carousel-film .owl-item:last-child span {
  font-size: 20px;
}

.film-video.playing {
  background-color: #dddddd;
}

#home-carousel-film {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background: #ffffff;
}

#film-mediafolio article {
  margin: 0.5%;
  float: left;
  border: none;
  display: none;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .8s linear;
  -moz-transition: all .8s linear;
  -ms-transition: all .8s linear;
  -o-transition: all .8s linear;
  transition: all .8s linear;
}

#film-mediafolio article:hover {
  -webkit-transition: all .8s linear;
  -moz-transition: all .8s linear;
  -ms-transition: all .8s linear;
  -o-transition: all .8s linear;
  transition: all .8s linear;
}

#film-mediafolio article .icon-overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}

#film-mediafolio article:hover .icon-overlay {
  opacity: 1;
}

#film-mediafolio article .icon-holder span {
  position: absolute;
}

#film-mediafolio article .icon-holder span:nth-of-type(1) {
  bottom: 0;
  left: 50%;
  margin: 0 0 -20px -20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#film-mediafolio article:hover .icon-holder span:nth-of-type(1) {
  bottom: 50%;
  visibility: visible;
  opacity: 1;
}

.film-intro {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.film-intro p {
  font-style: italic;
}

.film-intro-btn {
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
  opacity: 0.9;
}

.film-intro-play {
  cursor: pointer;
  padding: 10px;
}

/*
 * sns
 */
.sns-box {
  text-align: center;
  padding: 10px;
}

.sns-box article {
  display: block;
}

.sns-box article div {
  display: inline-block;
  padding: 0.4em;
  margin-bottom: 2.5em;
}

/*
 * index
 */
.intro-article .main-heading {
  text-transform: uppercase;
  line-height: 22px;
}

.intro-article .main-heading > span {
  font-size: 20px;
}

.intro-article .about-content-main {
  max-width: 500px;
  margin: auto;
}

.intro-article .about-content-main p {
  text-align: left !important;
}

#info-article-wrap {
  position: absolute;
  width: 100%;
}

.fade-scroll:nth-child(n+2) {
  position: fixed;
  top: 0;
}

.index-left,
.index-right {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

.index-left {
  width: 33.33333333333333%;
}

.index-right {
  width: 66.66666666666666%;
}

.info-article .credentials li span a {
  color: #ffffff;
  font-size: 20px;
}

#mastwrap,
#index-container article {
  min-width: 320px;
  width: 100%;
}

.info-article-rel {
  overflow-y: hidden;
}

.info-profile {
  overflow: hidden;
}

.info-profile,
#index-container article .fade-scroll {
  margin: auto;
}

/*
 * flow
 */
.flow-top .welcome {
  height: initial !important;
}

.flow-top h1 {
  font-size: 32px;
  line-height: 39px;
}

.flow-top .sub-heading {
  font-size: 18px;
  line-height: 25px;
}

.flow-top .sub-heading > span {
  border-bottom-width: 2px;
}

.flow-top .liner-medium {
  height: 5px;
}

.flow-children {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.flow-container .btn-identity {
  border: none;
  opacity: 0.5;
  text-align: left;
}

.flow-container .main-heading,
.flow-top .main-heading,
.flow-top .main-content {
  text-align: center;
}

.flow-container .flow-children .about-content-main {
  text-align: center;
}

/*
 * error
 */
.error-container .full-height article {
  height: 50%;
}

@media (min-width: 992px) {
  .error-container .full-height article {
    height: 100%;
  }
}

/*
 * social
 */
.foot-social {
  font-size: 20px;
}

/*
 * loader
 */
#loader div {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader .black-bg {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  filter: alpha(opacity:'50');
}

.loader,
.loader:before,
.loader:after {
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader {
  text-indent: -9999em;
  margin-top: -15px;
  margin-left: -5px;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:after {
  left: 1.5em;
}
