@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:400;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:700;
 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
     url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

* {
  font-family: 'Godo';
}

html, body,
.address-text,
.credentials li a > span,
a, .inner-heading,
.sub-heading > span, h4 {
  font-family: 'Godo' !important;
}

p, div {
  font-family: "Nanum Gothic", sans-serif !important;
}

.email-text, .handle,
.va-title > span, .va-title, .main-heading {
  font-family: 'Godo' !important;
}