/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: IDENTITY.*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2014 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*==========================*/
/*ALL DEVICE OPTIMIZATION*/
/*===========================*/

/*Huge Displays*/
@media (min-width: 3000px) {
	  .intro-grid{
	 	width: 20%;
	 }
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }

	 .info-profile,
	 #index-container article .fade-scroll {
		 width: 300px;
		 height: 300px;
	 }
	 .flow-container .pad-common {
		 padding: 50px;
	 }
}

/*Projector Screens and Ver Large Monitors*/
@media (min-width: 2561px) {
	  .intro-grid{
	 	width: 20%;
	 }
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }

	 .info-profile,
	 #index-container article .fade-scroll {
		 width: 300px;
		 height: 300px;
	 }
}

/*iMac 27, HD Screens and Large Monitors*/
@media (min-width: 1921px) and (max-width: 2560px) {
	  .intro-grid{
	 	width: 20%;
	 }
	 
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }

	 .info-profile,
	 #index-container article .fade-scroll {
		 width: 300px;
		 height: 300px;
	 }
}

/*Large Widescreen Monitors*/
@media (max-width: 1920px) {
	
	  .intro-grid{
	 	width: 20%;
	 }
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }

	 .info-profile,
	 #index-container article .fade-scroll {
		 width: 300px;
		 height: 300px;
	 }
}

/*Medium Widescreen Monitors*/
@media (max-width: 1680px) {
	
	  .intro-grid{
	 	width: 20%;
	 }
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }
	.intro-06-headletters .caps-heading{
		font-size: 64px;
		line-height: 71px;
	}
	.intro-06-sub-heading > span{
		font-size: 24px;
		line-height: 31px;
	}

}

/*Large Widescreen Laptops*/
@media (max-width: 1440px) {
	  .intro-grid{
	 	width: 20%;
	 }
	 .mediafolio-grid{
	 	width: 19%;
	 }
	 .grid li{
	 	width: 20%;
	 }
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}

}

/*Common Widescreen Laptops*/
@media (max-width: 1366px) {
	  .intro-grid{
	 	width: 25%;
	 }
	
	 .mediafolio-grid{
	 	width: 25%;
	 }
	 .grid li{
	 	width: 25%;
	 }
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}
}


/*Very Large Tablets and Medium Laptops*/
@media (max-width: 1280px) {
	  .intro-grid{
	 	width: 25%;
	 }
	
	 .mediafolio-grid{
	 	width:  32%;
	 }
	 .grid li{
	 	width: 33.3%;
	 }
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}
	
}

/*Notebooks and Small Laptops*/
@media (max-width: 1152px) {

	  .intro-grid{
	 	width: 25%;
	 }
	
	 .mediafolio-grid{
	 	width:  32%;
	 }
	 .grid li{
	 	width: 33.3%;
	 }
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}
	.intro-08-headletters h2{
		font-size: 32px;
		line-height: 39px;
	}
	.intro-08-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}

	.info-profile,
	#index-container article .fade-scroll {
		width: 250px;
		height: 250px;
	}
}

/*iPad Landscape Mode and Large Tablets */
@media (max-width: 1024px) {
	.container{
		width: 100%;
	}
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}
	.intro-08-headletters h2{
		font-size: 32px;
		line-height: 39px;
	}
	.intro-08-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.stats-list li{
		display: inline-block;
		width: 49%;
	}
	.status-icon > img{
		margin-left: 15px;
	}
	.grid li{
		width: 50%;
	}
	.intro-grid{
		width: 33.3%;
	}
	
	 .mediafolio-grid{
	 	width:  32%;
	 }

}

/*Small Desktop and Very Small Notebook */
@media (max-width: 960px) {
	.container{
		width: 100%;
	}
	.intro-06-headletters .caps-heading{
		font-size: 48px;
		line-height: 55px;
	}
	.intro-06-sub-heading > span{
		font-size: 18px;
		line-height: 25px;
	}
	.intro-08-headletters h2{
		font-size: 32px;
		line-height: 39px;
	}
	.intro-08-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.stats-list li{
		display: inline-block;
		width: 49%;
	}
	.status-icon > img{
		margin-left: 15px;
	}
	.grid li{
		width: 50%;
	}
	.intro-grid{
		width: 33.3%;
	}
	
	 .mediafolio-grid{
	 	width: 33.3%;
	 }

	.info-profile,
	#index-container article .fade-scroll {
		width: 200px;
		height: 200px;
	}
}

/*Medium Tablets */
@media (max-width: 800px) {
	.container{
		width: 100%;
	}
	 .add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 32%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 33% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 400px !important;
		height: 266px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.grid li{
		width: 50%;
	}
	.index-text {
		text-align: right;
	}
	.index-info .address-text {
		margin-left: auto;
		margin-right: 0;
		max-width: 80%;
	}
}

/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 768px) {
	.container{
		width: 100%;
	}
	 .add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 32%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 33% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 384px !important;
		height: 256px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.grid li{
		width: 50%;
	}
}

/*Medium Smart Phones v2*/
@media screen and (max-width: 640px) {
	.add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 48%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 48% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 640px !important;
		height: 426px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.grid li{
		width: 50%;
	}
}

/*Google Nexus and Other Large Smart Phones v1*/
@media screen and (max-width: 600px) {
	.add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 48%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 48% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 600px !important;
		height: 399px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.grid li{
		width: 50%;
	}

	.info-profile,
	#index-container article .fade-scroll {
		width: 150px;
		height: 150px;
	}
}

/*iPhone Landscape Mode and Mediium Smart Phones*/
@media screen and (max-width: 480px) {
	.add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 48%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 48% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 480px !important;
		height: 319px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.grid li{
		width: 50%;
	}

	.info-profile,
	#index-container article .fade-scroll {
		width: 110px;
		height: 110px;
	}
}

/*Other Major Small Smart Phones*/
@media screen and (max-width: 360px) {
 	
	.add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 48%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 48% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 360px !important;
		height: 239px !important;
	}
	.credentials li a > span{
		display: block;
	}
	.index-info .credentials li a > img {
		display: none;
	}
}

/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 320px) {
	.add-top-half{
		padding-top:15px;
	}
	.add-bottom-half{
		padding-bottom: 15px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.border-top-main, .border-top-dark, .border-top-white, .border-top-grey{
		border-top: none !important;
	}
	#sm-trigger {
		background: transparent url('../images/menu.png')  center 20px  no-repeat;
		box-shadow: none;
	}
	#vertical-logo{
		display: none;
	}
	#mastwrap{
		margin-left: 0;
	}
	.menu a{
		font-size: 10px;
		padding: 1em 1em 1em 1.8em;
	}
	#logo > img{
		display: none;
	}
	.handle{
		display: block;
		margin-bottom: 20px;
	}
	.intro-grid{
		width: 50%;
	}
	.intro-03-headletters .caps-heading{
		font-size: 36px;
	}
	.intro-03-sub-heading {
	    font-size: 14px;
	    line-height: 24px;
	}
	.intro-06-headletters .caps-heading{
		font-size: 36px;
		line-height: 43px;
	}
	.intro-06-sub-heading > span{
		font-size: 12px;
		line-height: 19px;
	}
	.intro-08-headletters h2{
		font-size: 24px;
		line-height: 31px;
	}
	.intro-08-sub-heading > span{
		font-size: 14px !important;
		line-height: 21px !important;
		background: transparent !important;
		color: #999 !important;
	}
	.main-heading{
		font-size: 32px;
		line-height: 39px;
	}
	.sub-heading {
	    font-size: 18px;
	    line-height: 25px;
	}
	.testimonial-carousel .owl-buttons{
		text-align: center !important;
	}
	.liner-small{
		display: inline-block;
	}
	.status-icon{
		text-align: center;
	}
	.img-responsive{
		display: inline-block;
	}
	.stats-info > span{
		margin-left: 0;
	}
	.stats-text{
		margin-left: 0;
	}
	.inner-heading{
		font-size: 20px;
		line-height: 27px;
	}
	.query-heading{
		font-size: 24px;
		line-height: 31px;
	}
	.mediafolio-grid{
		width: 49%;
	}
	.mediafolio-filter li{
		padding: 6px;
		width: 48%;
		margin: 2px !important;
	}
	.portfolio-filter li{
		padding: 2px;
		margin: 0 !important;
		width: 48% !important;
	}
	.portfolio-filter li span{
		display: block;
		border:solid 1px #fff;
	}
	.slideshow nav span.nav-prev, .slideshow nav span.nav-next {
		display: none;
	}
	.slideshow nav span, .slideshow nav span.nav-close{
		padding-right: 30px;
	}
	.va-title{
		font-size: 18px;
		line-height: 24px;
		padding-left: 10px;
		text-align: left;
	}
	.va-slice ul li {
	    display: block;
	    margin: 0 2px 30px;
	    float: none;
	}
	.gallery-slide{
		width: 320px !important;
		height: 213px !important;
	}
	.credentials li a > span{
		display: block;
	}
}

@media screen and (max-height: 750px) {
	.flow-container .pad-common {
		padding: 40px;
	}
}

@media screen and (max-height: 480px) {
	.flow-container .pad-common {
		padding: 30px;
	}
}

@media screen and (max-height: 350px) {
	.flow-container {
		min-height: 350px;
	}
	.flow-container .pad-common {
		padding: 20px;
	}
}
