/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: IDENTITY.*/
/* Version: 1.0 Initial Release*/
/* Build Date: 01 April 2014*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2014 */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/* 02 - HEADER, INTRO & NAVIGATION */
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/* 04 - PAGES & SECTIONS SETUP*/
/* 05 - FOOTER*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
body{
	overflow-x: hidden;
}
a, a:hover, a:focus{
	text-decoration: none;
}
a:focus { 
    	outline: none; 
}
p{
	color: #777;
	font-family:"OpenSansRegular";
	font-size: 14px;
	line-height:21px;
}
@media (min-width: 1024px) and (max-width: 5000px) {
	/*.container, .service-details{
		max-width: 990px;
	}*/
	.container, .service-details{
		width: 100%;
	}
}

/*Button and Action Elements*/
.btn-identity{
	margin: 10px 0;
	padding: 15px;
	border:solid 1px #fff;
	color: #fff;
	text-decoration: none;
	font-family:"TexGyreHerosRegular";
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.btn-identity:hover{
	border:solid 1px #fff;
	background:#fff;
	color: #000;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.btn-identity-dark{
	margin: 10px 0;
	padding: 15px;
	border:solid 1px #000;
	color: #000;
	text-decoration: none;
	font-family:"TexGyreHerosRegular";
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.btn-identity-dark:hover{
	border:solid 1px #000;
	background:#000;
	color: #fff;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.btn-identity-color{
	margin: 10px 0;
	padding: 15px;
	text-decoration: none;
	font-family:"TexGyreHerosRegular";
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.btn-identity-dark:hover{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}

/*Common Spacing and Padding*/
.add-top{
	padding-top: 40px;
}
.add-bottom{
	padding-bottom: 40px;
}
.add-top-half{
	padding-top: 20px;
}
.add-bottom-half{
	padding-bottom: 20px;
}
.pad-common{
	padding: 50px;
}

.valign{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - HEADER, INTRO & NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.nav-trigger.displace{
	left: 200px;
}
#mastwrap{
	margin-left: 60px;
}
#vertical-logo{
	margin: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #333;
	font-family:"MontserratRegular";
	font-weight: normal;
	margin-top: 95px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}
#logo{
	border-bottom:solid 1px #eee;
}
#logo > img{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.main-heading{
	font-weight: normal;
	font-size:64px;
	line-height:71px;
font-family:"NexaLight";
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
}
.sub-heading{
	font-size: 36px;
	line-height:43px;
font-family:"MontserratRegular";
	font-weight: 100;
	color: #aaa;
}
.sub-heading > span{
font-family:"TexGyreHerosBold";
}

.query-heading{
	font-size: 36px;
	line-height:43px;
font-family:"MontserratRegular";
	font-weight: 100;
	color: #aaa;
}
.query-heading > span{
font-family:"TexGyreHerosBold";
}
.inner-heading{
	font-family:"MontserratRegular";
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	line-height: 31px;
}

.liner-medium{
	width: 36px;
	height: 7px;
	display: inline-block;
}

.liner-small{
	width: 30px;
	height: 5px;
	display: block;
	margin-top: 5px;
}
.parallax{
	background-size: cover !important;
	background-repeat: no-repeat;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - PAGES & SECTIONS SETUP */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*HOME*/
.thumb-carousel-wrap{
	background:#000;
}
.home-carousel  .item{
	background:#fff;
}
.thumb-zoom{
}
.home-slide{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}


/*ABOUT*/
.about-bg{
	background:url('../images/parallax/01.jpg') center center no-repeat;
	background-size: cover !important;
	background-attachment: fixed;
}
#about-wrap{
	height: 100%;
}
.welcome{
	height: 100%;
	background: #fff;
}
.stats-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.stats-list li{
	margin: 20px 0;
}
.stats-text{
	font-size: 42px;
	line-height: 49px;
	font-family:"MontserratRegular";
	color: #888;
	margin-left: 20px;
}
.stats-info > span{
	font-size: 18px;
	line-height: 25px;
	font-family:"OpenSansLight";
	border-top: solid 1px #fff;
	padding-top: 5px;
	margin-left: 20px;
}
.testimonial-wrap{

}
.testimonial-block > img{
	width: 115px;
	height: 115px;
	border-radius: 125px;
	border: solid 5px #fff;
}

.testimonial-block > p{
	margin-top: 20px;
	color: #fff;
	font-weight: normal;
font-family:"OpenSansRegular";
padding-bottom: 15px;
}
.testimonial-block > h5 > span{
	color: #fff;
	font-size: 20px;
	line-height: 27px;
	font-weight: normal;
font-family:"OpenSansBold";
border-top: solid 1px #fff;
padding-top: 5px;
padding-bottom: 10px;
}
.testimonial-carousel .owl-buttons{
	text-align: left !important;
}
.testimonial-carousel .owl-buttons div{
	padding: 5px 10px !important;
	margin: 0 !important;
	margin-right: 5px !important;
	background: transparent  !important;
	border: solid 2px #fff !important;
	color: #fff !important;
	opacity: 1 !important;
}

.testimonial-carousel .owl-buttons div:hover{
	opacity: 0.5 !important;
}

/*SERVICES*/
.services-bg{
	background:url('../images/parallax/01.jpg') center center no-repeat;
	background-size: cover !important;
	background-attachment: fixed;
}
.services-item{

}
.services-item > .service-icon{
	margin-bottom: 20px;
}
.status-icon > img{
	padding: 0 5px 5px 5px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/*05 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/

#mastfoot{
}
.foot-top{
	padding: 20px;
	border-top: solid 1px #eee;
}
.foot-social{
	list-style: none;
	padding: 0;
	margin: 0;
}
.foot-social li{
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}
.foot-social li a > img{
	opacity: 0.3;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.foot-social li a > img:hover{
	opacity: 1;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.handle{
	font-size: 24px;
	line-height: 31px;
	color: #000;
	font-family:"TexGyreHerosBold";
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}

.handle:hover{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.credit-panel{
	padding: 20px;
}
.credit-panel p{
	color: #444;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 19px;
font-family:"OpenSansLight";
}


/*GALLERY*/
.gallery{
	background:#fff;
}
#gallery-wrap{
	height: 100%;
	background:#fff;
}
.gallery-bg{
	background:#fff;
}
.gallery-browse{
	list-style: none;
	padding: 0;
	margin-top: 30px;
}
.gallery-browse li{
	float: left;
	margin: 10px 5px 10px 0 !important;
}
.gallery-browse li  span{
	padding: 8px;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.gallery-browse li  span:hover, .gallery-browse li  span:hover > a{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.gallery-browse li  span > a{
	font-family:"TexGyreHerosBold";
	color: #fff;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}

.gallery-slide{
	background-size: cover;
	background-repeat: no-repeat;
}
.gallery-slide .image-lightbox-link > img{
	opacity: 0;
	padding: 20px;
	border-radius: 100%;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.gallery-slide:hover .image-lightbox-link > img{
	opacity:1;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.image-lightbox-link > img{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.image-lightbox-link > img:hover{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}

.gallery-slide{
	width: 600px;
	height: 399px;
}
/*Set Gallery Slide Images*/
.gallery-slide-01{
	background-image: url('../images/gallery/01.jpg');
}
.gallery-slide-02{
	background-image: url('../images/gallery/02.jpg');
}
.gallery-slide-03{
	background-image: url('../images/gallery/03.jpg');
}
.gallery-slide-04{
	background-image: url('../images/gallery/04.jpg');
}
.gallery-slide-05{
	background-image: url('../images/gallery/05.jpg');
}
.gallery-slide-06{
	background-image: url('../images/gallery/06.jpg');
}
.gallery-slide-07{
	background-image: url('../images/gallery/07.jpg');
}
.gallery-slide-08{
	background-image: url('../images/gallery/08.jpg');
}


/*SHOW REEL*/
.showreel{
	background:#fff;
	overflow:hidden;
}
#showreel-wrap{
	height: 100%;
	background:#fff;
}
.showreel-bg{
	background:#fff;
}
.reel-container{

	padding-bottom: 60px !important;
}

/*GRID-PORTFOLIO*/
.portfolio-container{
	padding: 10px 0;
}

.portfolio-filter{
	list-style: none;
	padding: 0;
	margin-top: 30px;
}
.portfolio-filter li{
	float: left;
	margin: 12px 5px 12px 0 !important
}
.portfolio-filter li  span{
	padding: 10px;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.portfolio-filter li  span:hover, .portfolio-filter li  span:hover > a{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.portfolio-filter li  span > a{
	font-family:"TexGyreHerosBold";
	color: #fff;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}


/*MEDIA-FOLIO*/
.mediafolio-container{
	padding: 40px 20px;
}

.mediafolio-filter{
	list-style: none;
	padding: 0;
	margin-top: 30px;
}
.mediafolio-filter li{
	cursor: pointer;
	float: left;
	margin: 12px 8px 0 0 !important;
	padding: 10px;
	font-family:"TexGyreHerosBold";
	color: #fff;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.mediafolio-filter li:hover{
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.vbox-num {
    font-size: 32px;
    line-height: 39px;
}

/*CONTACT*/
.contact-bg{
	background:url('../images/parallax/01.jpg') center center no-repeat;
	background-size: cover !important;
	background-attachment: fixed;
}
.contact-item{

}
.contact-item > .contact-icon{
	margin-bottom: 20px;
}
.contact-icon > img{
	padding: 0 5px 5px 5px;
}
.email-text{
	font-size: 24px;
	line-height:31px;
	font-family:"TexGyreHerosBold";
	font-weight: 100;
	color: #aaa;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.email-text:hover{
	color: #fff;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.address-text{
	border-top: solid 1px #fff;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 14px;
	line-height:21px;
	font-family:"OpenSansLight";
	color: #aaa;
}

.credentials{
	list-style: none;
	padding: 0;
	margin: 30px 0 0 0;
}
.credentials li{
	display: block;
	margin-bottom:8px;
}
.credentials li a > img{
	margin-right: 5px;
	width: 35px;
	height: 35px;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.credentials li a:hover > img{
	width: 35px;
	height: 35px;
	opacity: 0.7;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.credentials li a > span{
	font-family: 'OpenSansLight';
	color: #fff;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.credentials li a:hover > span{
	opacity: 0.7;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

/*contact form*/

.contact-mail-wrap{
	padding: 20px 0;
}
.contact-mail{
	font-size: 18px;
	line-height: 25px;
	font-family:"OpenSansLight";
	color: #fff;
}
.contact-form-wrap{
	padding-top: 50px;
	padding-bottom: 50px;
}

input {
    background: rgba(255,255,255,0.5); !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #000 !important;
    font-family:"OpenSansLight" !important;
    font-size: 18px !important;
    height: 50px !important;
    line-height: 35px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    width: 100%;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
input:focus, textarea:focus {
    border: solid 1px #fff !important;
    background: #fff !important;
    color: #000 !important;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
textarea {
    background: rgba(255,255,255,0.5); !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #000 !important;
    font-family:"OpenSansLight" !important;
    font-size: 18px !important;
    line-height: 30px !important;
    margin-top: 0;
    padding: 10px !important;
    resize: none;
    width: 100%;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
input.send_message {
    background: none repeat scroll 0 0 #EF4A4A;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    width: 120px;
}
input.send_message:hover {
    background: none repeat scroll 0 0 #262932;
}
fieldset {
    border: 0 none;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
fieldset h1 {
    color: #000000;
    font-size: 24px;
}
.contact-label-box {
    color: #FFFFFF;
    font-family:"OpenSansLight";
    font-size: 24px;
    line-height: 31px;
    padding: 30px 20px;
    text-align: center;
}
.contact-label-box > span {
    display: block;
    margin-right: 10px;
}
.contact-label-box > span > img {
    height: 60px;
    width: 60px;
}
.contact-label-box a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.contact .alert{
	box-shadow: none;
	border:none;
	border-radius: 0;
	text-shadow:none;
	font-size: 12px;
	line-height: 19px;
    	font-family:"OpenSansLight";
	margin-bottom:10px;
	padding:10px;
	background:#000;
	color: #fff;
	text-align: left;
}
.contact .alert > p{
	text-shadow:none;
	font-size: 12px;
	line-height: 19px;
    	font-family:"OpenSansLight";
	color: #fff;
	text-align: left;
}
.btn-wrap{
	margin-top: 10px;
	text-align: left;
}
.space-left{
	margin-left: 1%;
}


.alert{
	margin-top: 30px;
	border-radius: 0px;
	padding: 5px;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}