{% load staticfiles markdown_deux_tags %}
<div id="mastfoot{{ counter }}" class="clearfix article-detail" style="display: none;">
  <section class="inner-section foot-top">
    <section class="container">
      <div class="row">
        <article class="col-md-4 text-left">
          <a class="handle article-title" href="">{{ article.title }}</a>
        </article>
        <article class="col-md-8 text-right">
          {% include 'include/share.html' with text=article.title url=request.build_absolute_uri %}
        </article>
      </div>
    </section>
  </section>
  <section class="inner-section credit-panel">
    <section class="container">
      <div class="row">
        <article class="col-md-12 text-left">
          <input type="hidden" class="article-author" value="{{ article.author }}"/>
          <p>{{ article.content|markdown }}</p>
        </article>
      </div>
    </section>
  </section>
</div>