<article class="info-article white-text pad-common flow-top full-screen" style="background-color: {{ profile.color }}">
  <div class="center-ver-hor">
    <h1 class="main-heading">{{ profile.name|safe }}</h1>
    <div class="main-content">
      <h3 class="sub-heading"><span class="white-text">{{ profile.info|safe }}</span></h3>
      <div class="info-profile fit-back rounded" style="background-image: url('{{ profile.img.url }}');"></div>
      <div class="about-content-main">
        <ul class="credentials">
          <li><span class="credential-text">
              <a href="mailto:{{ profile.email }}"><i class="fa fa-envelope"></i></a>
            {% if profile.facebook or profile.youtube %}
              <a href="https://www.facebook.com/{{ profile.facebook }}/"><i class="fa fa-facebook-square"></i></a>
              <a href="https://www.youtube.com/channel/{{ profile.youtube }}"><i class="fa fa-youtube-play"></i></a>
            {% endif %}
            </span></li>
        </ul>
      </div>
    </div>
  </div>
</article>