{% load staticfiles %}
<nav class="menu" id="sm">
  <div class="sm-wrap">
    <div id="logo" class="text-center"><img class="rounded" src="{% static "images/logo.png" %}"/></div>
    <a href="{% url 'home' %}"><b>SINO</b></a>
    <a href="{% url 'category' 'I' %}">Interview</a>
    <a href="{% url 'category' 'N' %}">News</a>
    <a href="{% url 'category' 'O' %}">Our story</a>
    <a href="{% url 'flows' %}">Flows</a>
  </div>
  <div id="sm-trigger" class="high-text"><i class="fa fa-align-justify"></i></div>
</nav>