{% load staticfiles %}
{% block sharehead %}
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock %}

<ul class="foot-social">
  <li><a id="kakao-link-btn" href="javascript:;"><img src="{% static "custom/kakao.png" %}" height="20"/></a></li>
  <li><a href="http://www.facebook.com/sharer/sharer.php?u={{ url }}"><img src="{% static "custom/facebook.png" %}" height="20"/></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ text }}&url={{ url }}"><img src="{% static "custom/twitter.png" %}" height="20"/></a></li>
</ul>

{% block sharescript %}
  <script>
    Kakao.init('4b56fc0455d112c9599234bf3dad82db');
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '{{ text }}',
      webButton: {
        text: '{{ text }}',
        url: '{{ url }}'
      }
    });
  </script>
{% endblock %}
