@highcolorTrans: rgba(224, 255, 102, 0.9);
@grey: #eeeeee;
@dark: #333333;
@white: #ffffff;

@black: #1b1b1b;
@high: #B8FF48;
@low: #C5FF6A;
@pink: #DB1C5B;
@skyblue: #52C5D7;
@orange: #F9A519;
@blue: #2382C5;

.black-bg {
  background-color: @black !important;
}

.sky-bg {
  background-color: @skyblue !important;
}

.low-bg {
  background-color: @low !important;
}

.orange-bg {
  background-color: @orange !important;
}

.dark-bg {
  background-color: @dark !important;
}

.white-bg {
  background-color: @white !important;
}

.high-bg {
  background-color: @high !important;
}

.grey-bg {
  background-color: @grey !important;
}

.black-text {
  color: @black !important;
}

.dark-text {
  color: @dark !important;
}

.white-text {
  color: @white !important;
}

.grey-text {
  color: @grey !important;
}

.high-text {
  color: @high !important;
}

.border-top-main {
  border-top: solid 50px @high;
}

.border-top-dark {
  border-top: solid 50px @dark;
}

.border-top-white {
  border-top: solid 50px @white;
}

.border-top-grey {
  border-top: solid 50px @grey;
}

.menu a.active {
  background-color: @high;
}

.menu a:hover {
  color: @black !important;
  background-color: @high;
}

.sub-heading > span {
  border-bottom: solid 1px @high;
}

.liner-medium, .liner-small {
  background: @high;
}

.high-bg > .liner-medium, .high-bg > .liner-small {
  background: @dark;
}

#mastfoot {
  background: @white;
}

.credit-panel {
  background: @white;
  border-top: solid 1px @grey;
}

.pace .pace-progress {
  background: @high;
}

.pace .pace-progress:after {
  color: @white !important;
}

.handle:hover {
  color: @high;
}

.grid li:hover figcaption {
  background: @high;
}

.grid li:hover h3, .grid li:hover p {
  color: @white;
}

.grid li:hover .liner-small {
  background: @dark;
}

.mediafolio-caps > p > span {
  color: @high;
}

.border-dark {
  border-color: @dark !important;
}

.error-container .btn-identity {
  border-color: @dark;
}

.foot-social a {
  color: @grey;
}

.foot-social a:hover {
  color: @dark;
}

.loader,
.loader:before,
.loader:after {
  background: @low;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 @low;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em @low;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 @low;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em @low;
    height: 5em;
  }
}