{% load staticfiles %}
<!DOCTYPE HTML>
<html {% block html-class %}class="html" {% endblock %} lang="kr">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9; charset=UTF-8">
  <title>{% block title %}SINO{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Identity by Designova - Responsive HTML5 template">
  <meta name="author" content="SINO">
  <meta property="og:type" content="article">
  <meta property="og:title" content="SINO">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:description" content="Say I'm Not Okay">
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'custom/cover.png' %}">
  <link rel="shortcut icon" href="{% static "images/favicon/favicon.ico" %}">
  <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{% static "fonts/fonts.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/pace.preloader.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/owl.carousel.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/owl.theme.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/venobox.css" %}" rel="stylesheet"/>
  <link href="{% static "stylesheets/jquery.tweet.css" %}" rel="stylesheet"/>
  <link href="{% static "stylesheets/slidingmenu.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/main.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/main-responsive.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/main-retina.css" %}" rel="stylesheet">
  <link rel="stylesheet/less" type="text/css" href="{% static "less/custom.less" %}">
  {% block head %}{% endblock %}
  {% block sharehead %}{% endblock %}
  <link href="{% static "stylesheets/font.css" %}" rel="stylesheet">
  <link href="{% static "stylesheets/custom.css" %}" rel="stylesheet">
  <!--[if IE]>
    <meta http-equiv="Content-Type" content="text/html; charset=Unicode">
  <![endif]-->
  <script src="{% static "less/less-1.5.0.min.js" %}"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="{% static "bootstrap/js/html5shiv.js"%}"></script>
      <script src="{% static "bootstrap/js/respond.min.js"%}"></script>
    <![endif]-->
  <script src="{% static "javascripts/modernizr.custom.js" %}"></script>
</head>
<body class="{% block body-class %}{% endblock %}">
{% block facebook %}{% endblock %}
{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock %}
{% block content %}{% endblock %}
{#<script src="{% static "bootstrap/js/jquery.js" %}" type="text/javascript"></script>#}
{#<script src="{% static "javascripts/jquery.easing.1.3.js" %}" type="text/javascript"></script>#}
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "javascripts/retina.js" %}"></script>
<script src="{% static "javascripts/classie.js" %}"></script>
<script src="{% static "javascripts/device.min.js" %}"></script>
<script src="{% static "javascripts/jquery.touchSwipe.js" %}"></script>
<script src="{% static "javascripts/owl.carousel.js" %}"></script>
<script src="{% static "javascripts/jquery.mixitup.js" %}"></script>
<script src="{% static "javascripts/venobox.min.js" %}"></script>
<script src="{% static "javascripts/jquery.tweet.js" %}"></script>
<script src="{% static "javascripts/jquery.stellar.js" %}"></script>
<script src="{% static "javascripts/smooth-scroll.js" %}"></script>
<script src="{% static "javascripts/jquery.appear.js" %}"></script>
<script src="{% static "javascripts/slidingmenu.js" %}"></script>
{% include "include/tracking.html" %}
{% block script %}{% endblock %}
{% block sharescript %}{% endblock %}
</body>
</html>