{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <link href="{% static "stylesheets/intro.css" %}" rel="stylesheet">
{% endblock %}
{% block body-class %}black-bg{% endblock %}
{% block content %}
  <div id="loader">
    <div class="black-bg rounded"></div>
    <div class="loader"></div>
  </div>
  <section id="mastwrap" style="opacity: 0">
    <section id="intro" class="intro">
      <section id="home-carousel-wrap" class="inner-section thumb-carousel-wrap">
        <div id="home-carousel" class="home-carousel owl-carousel">
          {% for carousel in object_list %}
            <div id="{{ forloop.counter0 }}" class="{% if carousel.cover_video %}videoClass{% else %}cover-image{% endif %} item home-slide full-height{% block detail %}{% endblock %}"
                {% if carousel.cover_video %} {{ carousel.get_link }}
                {% else %} {{ carousel.article.get_src }}{% endif %}>
              <div class="videoCover full-height"></div>
              <input id="url{{ forloop.counter0 }}" type="hidden" value="{{ carousel.article.get_link }}">
              <a class="scrolldown">
                <span style="color: {{ carousel.link_btn_color }}">
                  <i class="fa fa-angle-double-down"></i>
                </span>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    </section>
    {% for carousel in object_list %}
      {% include 'include/carousel_footer.html' with counter=forloop.counter0 article=carousel.article %}
    {% endfor %}
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/okvideo.js" %}"></script>
  <script src="{% static "javascripts/bgvideo-carousel.js" %}"></script>
  <script src="{% static "javascripts/main.js" %}"></script>
  <script src="{% static "javascripts/custom.js" %}"></script>
{% endblock %}