{% extends 'base.html' %}
{% load staticfiles markdown_deux_tags %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  <section id="mastwrap" class="sliding">
    <section id="intro" class="intro">
      <div class="film-intro full-height cover-image" {{ article.get_src }}>
        <div class="film-intro-btn center-ver-hor rounded low-bg">
          <div class="center-ver-hor" style="max-width:80%">
            {{ article.content|markdown }}<br>
            <input type="hidden" class="article-author" value="{{ article.author }}"/>
            <span class="film-intro-play">PLAY <i class="fa fa-play"></i></span>
          </div>
        </div>
      </div>
      <section id="home-carousel-wrap" class="inner-section thumb-carousel-wrap">
        <div id="home-carousel-film" class="home-carousel owl-carousel">
          <div class="film-num item home-slide text-center">
            <span><i id="film-ctrl" class="fa fa-play"></i></span>
          </div>
          {% for item in film %}
            <div class="film-num item home-slide text-center">
              <span class="film-video{% if not forloop.counter0 %} playing{% endif %}" {{ item.get_link }}>{{ item.index }}</span>
            </div>
          {% endfor %}
          <div class="film-num item home-slide text-center">
            <span>
              {% include 'include/share.html' with text=article.title url=request.build_absolute_uri %}
            </span>
          </div>
        </div>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/pace.min.js" %}"></script>
  <script src="{% static "javascripts/okvideo.js" %}"></script>
  <script src="{% static "javascripts/bgvideo-film.js" %}"></script>
  <script src="{% static "javascripts/main.js" %}"></script>
  <script src="{% static "javascripts/custom.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      film_init();
    });
  </script>
{% endblock %}