{% extends 'base.html' %}
{% load staticfiles markdown_deux_tags %}
{% block title %}Flow{% endblock %}
{% block html-class %}{% endblock %}
{% block body-class %}{% endblock %}
{% block content %}
  <section id="mastwrap">
    <section id="gallery" class="gallery gallery-bg">
      <section id="gallery-wrap" class="inner-section">
        <section class="container flow-container{% if object.sub or object.explain %} flow-top{% endif %}">
          <div class="row">
            <div class="full-height welcome pad-common border-top-dark">
              {% if not object.is_top %}
                <a href="javascript:window.history.back();" class="btn btn-identity dark-text border-dark"><i class="fa fa-hand-o-left"></i> 뒤로 갈래요</a>
              {% else %}
              {% endif %}
              <h1 class="main-heading">{{ object.content|safe }}</h1>
              {% if object.sub or object.explain %}
                <div class="main-content">
                  <span class="liner-medium"></span>
                  {% if object.sub %}<h3 class="sub-heading dark-text"><span>{{ object.sub|safe }}</span></h3>{% endif %}
                  {% if object.explain %}
                    <div class="about-content-main">
                      <div class="add-top-half">{{ object.explain|markdown }}</div>
                      {% if object.is_top %}<img src="{% static "custom/logo.png" %}" class="rounded" width="60"/>{% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="row flow-children">
            {% for item in arrows %}
              <a{% if item.down %} href="{% url 'flow' item.down_id %}"{% endif %} class="col-md-{% if arrows|length > 2 %}4{% elif arrows|length == 1 %}12{% else %}6{% endif %} col-height">
                <div class="about-content-main pad-common {% if forloop.counter0|divisibleby:2 %}low{% else %}dark{% endif %}-bg">
                  <h2 class="inner-heading {% if forloop.counter0|divisibleby:2 %}dark{% else %}white{% endif %}-text">{{ item.content }}</h2>
                </div>
              </a>
            {% endfor %}
            {% if not arrows %}
              <a href="{% url 'flows' %}" class="col-md-6">
                <div class="about-content-main pad-common orange-bg">
                  <h2 class="inner-heading white-text">다시 할래요 <i class="fa fa-refresh"></i></h2>
                </div>
              </a>
              <a class="col-md-6">
                <div class="about-content-main pad-common high-bg">
                  {% include 'include/share.html' with title=object.content url=request.build_absolute_uri %}
                </div>
              </a>
            {% endif %}
          </div>
        </section>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/main.js" %}"></script>
  <script src="{% static "javascripts/custom.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      flow_init();
    });
  </script>
{% endblock %}