{% extends 'base.html' %}
{% load staticfiles %}
{% block html-class %}{% endblock %}
{% block body-class %}{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
  <section id="mastwrap" class="sliding">
    <section id="gallery" class="gallery gallery-bg">
      <section id="gallery-wrap" class="inner-section">
        <section class="container error-container">
          <div class="row full-height">
            <article class="col-md-4 text-left">
              <div class="welcome pad-common">
                <h1 class="main-heading high-text">{% block name %}{{ name }}{% endblock %}</h1>
                <span class="liner-medium"></span>
              </div>
            </article>
            <article class="col-md-8 text-left">
              <div class="welcome high-bg pad-common">
                <h3 class="sub-heading dark-text"><span>{% block mes %}{{ mes }}{% endblock %}</span></h3>
                <a href="{% url 'home' %}" class="btn btn-identity dark-text"><i class="fa fa-paw"></i> 홈으로 돌아가기</a>
              </div>
            </article>
          </div>
        </section>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/main.js" %}"></script>
{% endblock %}