{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}홈{% endblock %}
{% block head %}
  <link href="{% static "stylesheets/mediafolio.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <section id="mastwrap">
    <section id="mediafolio" class="mediafolio mediafolio-bg">
      <section id="mediafolio-wrap" class="inner-section">
        <section class="container">
          <div id="film-mediafolio" class="mediafolio-thumb-wrap row">
            {% for article in object_list %}
              <article class="col-md-4 col-sm-6 mix all">
                <img title="" alt="" class="img-responsive" src="{% if article.cover_img %}{{ article.cover_img.url }}{% else %}{% static "images/mediafolio/01.jpg" %}{% endif %}"/>
                <div class="mediafolio-caps"><p>{{ article.title }} / <span>{{ article.author }}</span></p></div>
                <div class="icon-overlay"></div>
                <div class="icon-holder">
                  <span class="rounded-icon"><a href="{{ article.get_link }}"><i class="glyphicon glyphicon-search"></i></a></span>
                </div>
              </article>
            {% endfor %}
          </div>
        </section>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/main.js" %}"></script>
{% endblock %}