{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Flow{% endblock %}
{% block head %}
  <link href="{% static "stylesheets/showreel.css" %}" rel="stylesheet">
{% endblock %}
{% block html-class %}{% endblock %}
{% block body-class %}{% endblock %}
{% block content %}
  <section id="mastwrap" class="sliding">
    <section id="showreel" class="showreel showreel-bg">
      <section id="showreel-wrap" class="inner-section">
        <section class="container">
          <div class="row">
            <article class="col-md-6 text-left">
              <div class="welcome pad-common border-top-dark">
                <h1 class="main-heading">Show Reel</h1>
                <span class="liner-medium"></span>
                <h3 class="sub-heading dark-text"><span>a stunning widget to show your creative updates</span></h3>
              </div>
            </article>
            <article class="col-md-3 text-left">
              <div class="about-content-main pad-common grey-bg border-top-main">
                <h2 class="inner-heading dark-text">Some Info</h2>
                <span class="liner-small"></span>
                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Manibh sed, imperdiet massaecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
              </div>
            </article>
            <article class="col-md-3 text-left">
              <div class="about-content-main pad-common white-bg border-top-grey">
                <h2 class="inner-heading dark-text">Some Info</h2>
                <span class="liner-small"></span>
                <p class="add-top-half">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Manibh sed, imperdiet massaecenas hendrerit tincidunt urna. Aenean vel sapien fermentum, rhoncus nibh sed, imperdiet massa. </p>
              </div>
            </article>
          </div>
          <div class="row">
            <article class="col-md-12 text-left">
              <div class="reel-container">
                <div id="va-accordion" class="va-container">
                  <div class="va-nav">
                    <span class="va-nav-next">Next</span>
                    <span class="va-nav-prev">Previous</span>
                  </div>
                  <div class="va-wrapper">
                    {% for item in object_list %}
                      <div class="va-slice">
                        <h3 class="va-title"><span>01</span>{{ item.content }}</h3>
                        <div class="va-content">
                          <p class="va-subtitle">Travel Photography Project</p>
                          <ul>
                            <li><a href="#">Explore Photos</a></li>
                            <li><a href="{% url 'flow' item.id %}">More Info</a></li>
                            <li><a href="#">Request an Invite</a></li>
                          </ul>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </article>
          </div>
        </section>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static "javascripts/jquery.mousewheel.js" %}"></script>
  <script type="text/javascript" src="{% static "javascripts/jquery.vaccordion.js" %}"></script>
  <script src="{% static "javascripts/main.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      $('#va-accordion').vaccordion({
        // the accordion's width
        accordionW: $(window).width(),
        // the accordion's height
        accordionH: $(window).height(),
        // number of visible slices
        visibleSlices: 4,
        // the height of a opened slice
        // should not be more than accordionH
        expandedHeight: 450,
        // speed when opening / closing a slice
        animSpeed: 350,
        // easing when opening / closing a slice
        animEasing: 'jswing',
        // opacity value for the collapsed slices
        animOpacity: 0.1,
        // time to fade in the slice's content
        contentAnimSpeed: 1500,
        // if this is set to false,
        // we collapse any opened slice
        // before sliding
        savePositions: true
      });
    });
  </script>
{% endblock %}