{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <link href="{% static "stylesheets/intro.css" %}" rel="stylesheet">
  <script src="//d3js.org/d3.v3.min.js" language="JavaScript"></script>
  <script src="{% static 'javascripts/liquidFillGauge.js' %}" language="JavaScript"></script>
{% endblock %}
{% block content %}
  <section id="mastwrap">
    <section id="intro" class="intro">
      <section id="home-carousel-wrap" class="inner-section thumb-carousel-wrap">
        <div id="home-carousel-index" class="home-carousel owl-carousel">
          <article class="intro-article white-text pad-common flow-top">
            <div class="intro-article-wrap">
              <h1 class="main-heading"><b>Say</b> I am <b>Not Okay</b><br><span><b>안</b> 괜찮다고 말해도 <b>괜찮아</b></span></h1>
              <div class="main-content">
                <span class="liner-medium"></span>
                <h3 class="sub-heading"><span>자살자 93% 경고신호 보내<br>유가족 81% 신호 알아채지 못해</span></h3>
                <svg id="fillgauge1" style="width: 100%"></svg>
                <div class="about-content-main">
                  <p class="add-top-half">
                    여기 지겹도록 절망적인 이야기가 있습니다.<br>
                    'OECD 국가 중 11년째 자살률 1위'<br>
                    '38분마다 한 명이 자살'<br>
                    '자살, 10대/20대의 사망원인 1위'<br>
                    이 지겨운 문장 속에, 삶 대신 죽음을 택한 사람의 이야기가 있습니다.<br>
                    언론에서는 그들의 사인(死因)을 한 줄짜리 기사로 다룰 뿐이지만<br>
                    그들의 이야기는 그렇게 한 문장으로 요약될 수 없었습니다.
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="intro-article white-text pad-common flow-top">
            <div class="intro-article-wrap">
              <h1 class="main-heading"><span>Google Newslab</span><br>SINO x 뉴스타파</h1>
              <div class="main-content">
                <img src="{% static "custom/logo.png" %}" class="rounded" height="150" style="width:auto;"/>
                <div class="about-content-main">
                  <p class="add-top-half">
                    <br>그래서 SINO는 주목합니다.<br>
                    살고 싶어서 죽음을 택하는 이들의 사인(死因)이 아닌 사인(sign)을.<br>
                    SINO는 살고 싶어서 죽음을 택하는 이들이 보내는 사인(sign), '신호'에 주목합니다.<br>
                    SINO는 'Say, I'm Not Okay.'의 행동명이며,<br>
                    '자살'이란 단어를 꺼내기 힘들만큼 터부시되는 한국에서,<br>
                    자살과 우울증 문제를 해결해가기 위한 첫 번째 관문은<br>
                    이 주제에 대한 대화를 이끌어내는 것입니다.<br>
                    자살을 생각해봤거나 우울증을 겪고 있는 20대에게 가장 필요한 메시지로<br>
                    ‘안 괜찮다고 말해도 괜찮아’, ‘Say I’m Not Okay’ 를 말하고자 합니다.
                  </p>
                </div>
              </div>
            </div>
          </article>
          {% for profile in object_list %}
            {% include 'include/info-article.html' with profile=profile %}
          {% endfor %}
        </div>
      </section>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/main.js" %}"></script>
  <script src="{% static "javascripts/custom.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      index_init();
    });
  </script>
{% endblock %}