{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.2" async></script>
{% endblock %}
{% block facebook %}
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1679712645630915',
        xfbml: true,
        version: 'v2.5'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{% endblock %}
{% block content %}
  <section id="mastwrap" class="sliding black-bg">
    <section id="intro" class="intro">
      <div class="sns-box">
        {% for article in object_list %}
          <article>
            {% if 'facebook' in article.content %}
              <div class="fb-post"
                   data-href="{{ article.content }}"
              ></div>
            {% else %}
              {{ article.content|safe }}
            {% endif %}
          </article>
        {% endfor %}
      </div>
    </section>
  </section>
{% endblock %}
{% block script %}
  <script src="{% static "javascripts/pace.min.js" %}"></script>
  <script src="{% static "javascripts/main.js" %}"></script>
{% endblock %}